@model IEnumerable<Setting>



<div class="card">
    <div class="card-body">
        <h4 class="card-title">Hoverable Table</h4>
        <p class="card-description">
            <a asp-action="Update">Update</a>
        </p>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Key</td>
                            <td>@item.Value</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>